

.btn {
    background-color: white;
    color: #333333;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border:none;
    font-size: 14px;
    z-index: +5;
    font-family: Times;
}
.btn:active {
  background-color: darkgrey ;
}


/* .skills {
  width: 1000px;
  height: 1000px;
    background-image:url(./img/sklfrmt.png);
    background-repeat:no-repeat;
    position: absolute;
    top: 1600px;
    bottom: 0;
    right: 400px;
    margin: auto;
    z-index: -1;
} */
